<div class="card">
  <div class="card__cap">
    <picture>
      <source media="(max-width: 960px)" srcset="/images/medium/{{ work.data.featured_image }}">
      <source media="(min-width: 961px)" srcset="/images/small/{{ work.data.featured_image }}">
      <img src="/images/{{ work.data.featured_image }}" alt="screen shot of {{ work.data.title }}">
    </picture>
  </div>
  <div class="card__content flow">
    <h3 class="card__title">{{ work.data.title }}</h3>
    <p>{{ work.data.description }}</p>
    <div class="cluster" style="--gutter: var(--space-s)">
      <a href="{{ work.url | url }}" class="has-icon">
        {% include 'svg/info.svg' %}
        <span>Info</span>
      </a>
      <a href="{{ work.data.url }}" class="has-icon" target="_blank" rel="noopener nofollow">
        {% include 'svg/globe.svg' %}
        <span>Visit Website</span>
      </a>
      {% if work.data.github %}
      <a href="{{ work.data.github }}" class="has-icon" target="_blank" rel="noopener nofollow">
        {% include 'svg/github.svg' %}
        <span>Source</span>
      </a>
      {% endif %}
    </div>
  </div>
</div>
