<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title + " | aw.codes" if title else "aw.codes" }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
  </head>

  <body class="bg-gray-500 text-white-500 font-sans">
    <div class="max-w-5xl mx-auto">
      <header role="banner" class="flex items-center justify-between py-6">
        <a href="/">
          <div class="h-12 text-primary-500">{% include 'svg/logo.svg' %}</div>
        </a>
        <nav aria-label="primary">
          <ul class="flex items-center gap-4" role="list">
            <li>
              <a href="/" aria-current="{{ 'true' if page.url == '/' else 'false' }}">Home</a>
            </li>
            {% if collections.works.length %}
            <li>
              <a href="/work/" aria-current="{{ 'true' if '/work/' in page.url else 'false' }}">Work</a>
            </li>
            {% endif %}
            {% if collections.posts.length %}
            <li>
              <a href="/blog/" aria-current="{{ 'true' if '/blog/' in page.url else 'false' }}">Blog</a>
            </li>
            {% endif %}
            <li>
              <a href="/contact/" aria-current="{{ 'true' if '/contact/' in page.url else 'false' }}">Contact</a>
            </li>
          </ul>
        </nav>
      </header>
      <main role="main">{{ content | safe }}</main>
      <footer role="contentinfo" class="text-xs mt-8 lg:mt-12 pb-6">
        <p>&copy; {{ helpers.currentYear() }}. All the rights are belonging to me.</p>
      </footer>
    </div>
  </body>
</html>
