---
layout: base.html
title: Welcome to my little corner of the interwebs
---

<section class="flow">
  <h1>Welcome to my little corner of the interwebs.</h1>

  <p>I'm Adam and I just so happen to develop things for the web, but you probably know that. I can't imagine any other reason you'd be looking at my site.</p>
</section>

<section class="flow">
  <h2>Tech I use and experiment with</h2>
  <ul role="list" class="flex items-center flex-wrap gap-3">
    <li>
      <div class="bg-primary-500 py-1 px-4 rounded-full">HTML</div>
    </li>
    <li>
      <div class="bg-primary-500 py-1 px-4 rounded-full">CSS</div>
    </li>
    <li>
      <div class="bg-primary-500 py-1 px-4 rounded-full">JavaScript</div>
    </li>
    <li>
      <div class="bg-primary-500 py-1 px-4 rounded-full">PHP</div>
    </li>
    <li>
      <div class="bg-primary-500 py-1 px-4 rounded-full">MySQL</div>
    </li>
    <li>
      <div class="bg-primary-500 py-1 px-4 rounded-full">Laravel</div>
    </li>
    <li>
      <div class="bg-primary-500 py-1 px-4 rounded-full">Tailwind CSS</div>
    </li>
    <li>
      <div class="bg-primary-500 py-1 px-4 rounded-full">Alpine.js</div>
    </li>
    <li>
      <div class="bg-primary-500 py-1 px-4 rounded-full">11ty</div>
    </li>
    <li>
      <div class="bg-primary-500 py-1 px-4 rounded-full">Astro</div>
    </li>
    <li>
      <div class="bg-primary-500 py-1 px-4 rounded-full">React</div>
    </li>
    <li>
      <div class="bg-primary-500 py-1 px-4 rounded-full">Vue</div>
    </li>
    <li>
      <div class="bg-primary-500 py-1 px-4 rounded-full">WordPress</div>
    </li>
  </ul>
</section>

{% if collections.works.length %}
<section class="flow">
  <h2>Some of My Work</h2>

  <ul role="list" class="auto-grid">
    {%- for work in collections.works | limit(6) -%}
    <li>{% include 'work-card.html' %}</li>
    {%- endfor -%}
  </ul>
</section>
{% endif %}
